[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest/
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
